.github
.vscode
.cursor
node_modules
src
example
index.html

.eslintrc*
.gitignore
.npmignore
.prettier*
eslint.config.js
prettier.config.js
.oxfmt*
.oxlint*

pnpm-lock.yaml
tsconfig.json
tsconfig.app.json
tsconfig.node.json
vite.config.ts
vitest.config.ts